.banner{
    background: url(/Assets/Img/banner.jpg) no-repeat center / cover;
    width: 100%;
    height: 17rem;
    display: flex;
    flex-wrap: wrap;
    align-content: end;
}


.banner__titulo{
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
    font-size: 2.5rem;
    font-weight: bold;
    margin: .5rem 0 .5rem 1rem;
}


.ofertas__descripcion{
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    font-size: 1.3rem;
    font-weight: bold;
    margin: .5rem 0 .5rem 1rem;
}

.Ver__oferta{
    border: 2px solid var(--borde-azul);
    display: flex;
    width: 11rem;
    height: 3.3rem;
    justify-content: center;
    align-items: center;
    color: white;
    background: var(--borde-azul);
    font-size: 1.3rem;
    margin: .5rem 0 1rem 1rem;
}
