.cabecera{
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

.cabecera__logo{
    display: flex;
}

.logo__mando{
    width: 40px;
}

.logo__texto{
    width: 100px;
}

.cabecera__header{
    display: flex;
    align-items: center;
    justify-content: space-around
}

.Busqueda__input{
    display: none;
}

.busqueda{
    display: flex;
    order: 1;
}

.Login__boton{
    border: 2px solid var(--color-azul);
    display: flex;
    width: 10rem;
    height: 2.8rem;
    justify-content: center;
    align-items: center;
    color: var(--color-azul);
    background: none;
    font-size: 1rem;
}

.busqueda__logo{
    width: 30px;
}

@media screen and (min-width: 768px) {
    .busqueda__logo{
        width: 1.4rem;
        padding: 0 1.3rem 0 0;
    }
    .Busqueda__input{
        display:flex;
        border: none;
        border-radius: 5rem;
        color: var(--color-fuente);
        padding: .7rem 4rem .7rem 1.3rem;
        font: var(--Raleway);
        background-color: #f5f5f5;        
    }
    .Busqueda__input::placeholder{
        font-size: .9rem;
    }
    .busqueda{
        display: flex;
        right: 3rem;
        position: relative;
        border-radius: 5rem;
        background-color: #f5f5f5;   
        order: 0;
    }
    .Login__boton{
        display: flex;
        width: 10rem;
        height: 2.6rem;
        font-size: .9rem;
    }
    .logo__mando{
        width: 40px;
    }
    
    .logo__texto{
        width: 100px;
    }

}

@media screen and (min-width: 1200px) {
    .busqueda{
        right: 8rem;
    }
    .Busqueda__input{
        padding: .7rem 8rem .7rem 1.3rem;
    }
}