.Contacto{
    padding: 1rem 0 0 0;
    background: #EAF2FD;
    display: flex;
    flex-direction: column;
}

.contacto__logo{
    display: flex;
    justify-content: center;
}

.Logo__mandocontacto{
    width: 45px;
}

.logo__textocontacto{
    width: 140px;
}

.datos__contacto{
    font-size: 1rem; 
    text-align: center;
}

.datos__contactoli{
    margin: 1.3rem 0 0 0;
}

.contacto__form{
    margin: 3rem 0rem 0 1rem;    
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: bold;
    font-size: 1.2rem;
}

.nombre__form{
    margin: 1rem 1rem 0 0;
    border: none;
    border-radius: 8px;
    width: 100%;
    height: 4rem;
    font: var(--Raleway);
    padding-left: 1rem;
    box-shadow: 2px 2px 4px #888888;
}

.Mensaje__contacto{
    margin: 1rem 1rem 0 0;
    border: none;
    resize: none;
    height: 7rem;
    border-radius: 8px;
    width: 100%;
    font: var(--Raleway);
    padding-left: 1rem;
    padding-top: 1rem;
    box-shadow: 2px 2px 4px #888888;
}

.Enviar__mensaje{
    margin: 1rem 0 1.5rem 0;
    border: 2px solid var(--color-azul);
    display: flex;
    width: 11rem;
    height: 3.3rem;
    justify-content: center;
    align-items: center;
    color: white;
    background: var(--color-azul);
    font-size: 1.3rem;
    font: var(--Raleway);
}

@media screen and (min-width: 768px) {
    .Contacto{
        display: flex;
        flex-direction: row;
        padding: 1rem 2rem 2rem 2rem;
        justify-content: space-between;
    }
    .contacto__form{
        margin-top: 1rem;
        padding-right: 1rem;
        width: 55%;
    }

    .datos__contactoli{
        display: flex;
        justify-content: flex-start;
    }

    .Logo__mandocontacto{
        width: 45px;
    }
    
    .logo__textocontacto{
        width: 150px;
    }
    .Mensaje__contacto{
        height: 5rem;
    }
    .Enviar__mensaje{
        height: 2.9rem;
        font-size: 1rem;
        font-weight: 100;
    }
}

@media screen and (min-width: 1200px) {
    .datos__contacto{
        display: flex;
        padding-top: 1.5rem;
    }

    .contacto__logo{
        position: relative;
        bottom: 8rem;
        margin-right: 6rem;
        margin-left: 2.7rem;
        padding-top: 2rem;
    }
    .contacto__form{
        width: 31rem;
        padding-top: 1.7rem;
        padding-left: 2rem;
    }

    .Enviar__mensaje{
        height: 2.4rem;
        font-size: .9rem;
    }
}
