.inputs__login{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f5f5f5;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.iniciar__titulo{
    font-weight: bold;
    margin: 1rem 0 1.5rem 0;
    font-size: 1.2rem;
}

.login__form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inicio__input{
    margin: 0 10rem 1rem 10rem;
    border: none;
    border-radius: 8px;
    width: 70%;
    height: 3rem;
    font: var(--Raleway);
    padding-left: 1rem;
    box-shadow: 2px 2px 4px #888888;
}

.entrar__boton{ 
    margin: .5rem 0 1.5rem 0;
    border: 2px solid var(--color-azul);
    display: flex;
    width: 9rem;
    height: 3.3rem;
    justify-content: center;
    align-items: center;
    color: white;
    background: var(--color-azul);
    font-size: 1.3rem;
    font: var(--Raleway);
}

.Login__boton{
    display: none;
}

.cabecera__header{
    justify-content: space-between;
    margin: 0 1rem 0 1rem;
    padding: 1rem 1rem 0 1rem;
}
.cabecera__logo{
    align-items: center;
}

@media screen and (min-width: 768px) {
    .inicio__input{
        width: 60%;
    }
    .cabecera__header{
        justify-content: start;
    }
    .cabecera__logo{
        margin-right: 4rem;
        margin-left: 3rem;
    }
}

@media screen and (min-width: 1200px) {
    .inicio__input{
        width: 68%;
    }
    .cabecera__logo{
        margin-right: 10rem;
        margin-left: 5rem;
    }
    .entrar__boton{
        width: 71%;
    }

}