.nuevo__producto{
    display: flex;
    flex-direction: column;
    background: #f5f5f5;
    padding-top: 2rem;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    padding-bottom: 3rem;
}

.admin__boton{
    border: 2px solid var(--color-azul);
    display: flex;
    width: 13rem;
    height: 3.3rem;
    justify-content: center;
    align-items: center;
    color: var(--color-azul);
    background: none;
    font-size: 1.3rem;
}

.agregar__titulo{
    font-weight: bold;
    font-size: 1.5rem;
}

.input__admin{
    margin: 1.5rem 0 0 0;
    border: none;
    width: 95%;
    height: 4rem;
    font: var(--Raleway);
    padding-left: 1rem;
    box-shadow: 2px 2px 4px #888888;
}

.descripcion_texto{
    margin: 1.5rem 0 0 0;
    border: none;
    resize: none;
    height: 5rem;
    width: 95%;
    font: var(--Raleway);
    padding-left: 1rem;
    padding-top: 1rem;
    box-shadow: 2px 2px 4px #888888;
}

.agregar__boton{
    margin: 1.5rem 0 0 0;
    border: 2px solid var(--color-azul);
    display: flex;
    width: 99%;
    height: 3.3rem;
    justify-content: center;
    align-items: center;
    color: white;
    background: var(--color-azul);
    font-size: 1.3rem;
    font: var(--Raleway);
}
@media screen and (min-width: 1200px) {
    .agregar__titulo{
        align-items: flex-start;
    }

    .nuevo__producto{
        align-items:flex-start;
        padding-left: 21rem;
        padding-right: 21rem;
    }

}