.Productos{
    background: #f5f5f5;
}

.Titulo_categoria{
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--color-fuente);
}

.Categoria{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0 .5rem 1rem;
}

.Ver_boton{
    display: flex;
    align-items: center;
    margin: 0 1rem 0 0;
    color: var(--color-azul);
    font-weight: bold;
    font-size: 1.3rem;
}

.Vertodo_boton{
    margin: 0 .5rem 0 0;
}

.Productos__categoria{
    border-radius: 10px;
    width: 100%;
    height: auto; 
}

.productos_lista{
    padding: 1rem 2.5rem 2rem 1rem;
    display: grid;
    grid-template-columns: 
    repeat(
        auto-fit, 
        minmax(160px, 1fr)
        );
    gap: 32px;
}

.Img__producto{
    display: flex;
}

.Nombre__producto{
    font-size: 1.2rem;
    margin: .7rem 0 0 0;
}

.Precio__producto{
    font-size: 1.2rem;
    margin: .7rem 0 0 0;
    font-weight: bold;
}

.Ver__producto{
    font-size: 1.2rem;
    padding: .7rem 0 0 0;
    color: var(--color-azul);
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    .Titulo_categoria{
        font-size: 1.6rem;
    }
    .productos_lista{
        padding-bottom: 5rem;
    }

    .Vertodo_boton{
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 1200px) {
    .Titulo_categoria{
        margin-left: 4rem;
    }
    .Ver_boton{
        margin-right: 6rem;
    }
    .productos_lista{
        margin-left: 4rem;
        margin-right: 4rem;
        padding-bottom: 4rem;
    }

}