.Productos{
    background: #f5f5f5;
}

.Titulo_categoria{
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--color-fuente);
}

.Categoria{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0 .5rem 1rem;
}

.Ver_boton{
    display: flex;
    align-items: center;
    margin: 0 1rem 0 0;
    color: var(--color-azul);
    font-weight: bold;
    font-size: 1.1rem;
}

.Vertodo_boton{
    margin: 0 .5rem 0 0;
}

.Productos__categoria{
    border-radius: 10px;
    width: 100%;
    height: auto; 
}

.productos_lista{
    padding: 1rem 2.5rem 2rem 1rem;
    display: grid;
    grid-template-columns: 
    repeat(
        auto-fit, 
        minmax(125px, 1fr)
        );
    gap: 25px;
}

.Img__producto{
    display: flex;
    width: 130px;
    height: 130px;
}
.info__producto{
    display: flex;
    flex-direction: column;
    height: 6rem;
    justify-content: end;
}
.Nombre__producto{
    font-size: 1rem;
    margin: .7rem 0 0 0;
    text-align: start;
}

.Precio__producto{
    font-size: 1rem;
    margin: .7rem 0 0 0;
    font-weight: bold;
}

.Ver__producto{
    font-size: 1rem;
    padding: .7rem 0 0 0;
    color: var(--color-azul);
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    .Productos{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .Titulo_categoria{
        font-size: 1.8rem;
        padding-top: 1rem;
    }
    .productos_lista{
        padding-top: 1rem;
        padding-bottom: 2rem;
    }

    .Vertodo_boton{
        font-size: 1.2rem;
    }
    .Img__producto{
        display: flex;
        width: 160px;
        height: 160px;
    }
}

@media screen and (min-width: 1200px) {
    .Titulo_categoria{
        padding-top: 2rem;
        margin-left: 4rem;
    }
    .Ver_boton{
        margin-right: 6rem;
    }
    .Vertodo_boton{
        font-size: 1rem;
    }
    .Titulo_categoria{
        font-size: 2.1rem;
    }
    .productos_lista{
        margin-left: 4rem;
        margin-right: 4rem;
        padding-bottom: 4rem;
    }
    .Img__producto{
        width: 150px;
        height: 150px;
    }
}