.Productos{
    margin: 2rem 0 0 1rem;
}

.Titulo_categoria{
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--color-fuente);
}

.Categoria{
    display: flex;
    justify-content: space-between;
}

.Ver_boton{
    display: flex;
    align-items: center;
    margin: 0 1rem 0 0;
    color: var(--color-azul);
    font-weight: bold;
    font-size: 1.3rem;
}

.Vertodo_boton{
    margin: 0 .5rem 0 0;
}

.productos_lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


.Productos__categoria{
    margin: 2.5rem 1.5rem 0 0;
    display: flex;
    flex-direction: column;
    width: ;
}

.Img__producto{
    display: flex;
}

.Nombre__producto{
    font-size: 1.2rem;
    margin: .5rem 0 0 0;
}

.Precio__producto{
    font-size: 1.2rem;
    margin: .5rem 0 0 0;
    font-weight: bold;
}

.Ver__producto{
    font-size: 1.2rem;
    margin: .5rem 0 0 0;
    color: var(--color-azul);
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    .Titulo_categoria{
        font-size: 1.6rem;
    }
    .productos_lista{
        margin-bottom: 5rem;
    }

    .Vertodo_boton{
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 1200px) {
    .Titulo_categoria{
        margin-left: 4rem;
    }
    .Ver_boton{
        margin-right: 6rem;
    }
    .productos_lista{
        margin-left: 4rem;
        margin-right: 4rem;
        margin-bottom: 4rem;
    }

}