.Todos_productos{
    background: #f5f5f5;
}

.cabecera__header{
    padding: 0 0 0 0;
}

.Titulo_todosproductos{
    padding: 2.5rem 1rem .5rem 1rem;
    display: flex;
    flex-direction: column;
}

.titulo__todos{
    margin: 0 0 .5rem 0;
    font-size: 2rem;
    font-weight: bold;
}

.boton__titulo{
    margin: 1rem 0 .5rem 0;
    border: 1px solid var(--color-azul);
    display: flex;
    width: 11rem;
    height: 3.3rem;
    justify-content: center;
    align-items: center;
    color: white;
    background: var(--color-azul);
    font-size: 1.3rem;
    font: var(--Raleway);
}



.imagen__padre{
    display: flex;
    position: relative;
}

.imagen__hijo{
    display: flex;
    position: absolute;
    top: 10px;
    left: 100px;
}

.icono_edit{
    margin-right: .6rem;
    background-color: var(--color-azul);
    border-radius: 5px;
}


.Identificador{
    margin-top: .7rem;
    font-size: 1.3rem;
}

@media screen and (min-width: 768px) {
    .cabecera__logo{
        margin: 0 5rem 0 1rem;
        align-items: center;
    }
    .Titulo_todosproductos{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 2.5rem 1rem .5rem 1rem;
    }
    .boton__titulo{
        margin: 0 0 0 0;
        height: 2.8rem;
    }
    .titulo__todos{
        font-size: 1.5rem;
    }
    .imagen__hijo{
        left: 110px; 
    }
    .icono_edit{
        margin-right: .7rem;
    }
    .Todos_productos{
        padding-left: 1rem;
        padding-right: 1rem;
    }

}

@media screen and (min-width: 1200px) {
    .Titulo_todosproductos{
        padding: 2.5rem 5rem .5rem 5rem;
    }
    .logo__texto{
        width: 100px;
    }
    .logo__mando{
        width: 50px;
    }   
    .Busqueda__input{
        padding-right: 10rem;
    }
    .cabecera__logo{
        margin: 0 10rem 0 5rem;
    }
}
